# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens3 --gateway=10.91.0.1 --ip=10.91.0.6 --nameserver=10.91.0.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=kafka.devopsua.tk
# Accept Eula
eula --agreed
# Root password
rootpw --iscrypted $6$Y9gqh2JMOFvtwC1T$Ir.v.wSIhfpWGI/cKG6hvBABzBJUfRvtw9jlW6Mx/qME1.auUI3B89CpFa4igQ7noBUIrq2Dg3JbLlt45zmCN.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Kiev --isUtc
user --groups=wheel --name=user --password=$6$mtpbWh29sVt8oM.D$YOOj94Hifh41Ae7fUIZdNNVDs97/F8xb5760FbgMmZe.jdfyOJ344dHXQeb8OVLOTVftxKD31tp9HS9ZyyoaM1 --iscrypted --gecos="user"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

firewall --disabled
selinux --permissive
# Reboot after install
reboot --eject

repo --name="EPEL" --baseurl=http://dl.fedoraproject.org/pub/epel/7/x86_64/

%packages --nocore --nobase --excludedocs
@^minimal install
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --disable
%end

%post --log=/root/ks-post.log
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDVhMKz5VxrF2lAFGm0xSF2FUPqE25JIBR6/Yj/F1hECsHryyxruOPks+vDbK1oVVeI9mt+w0H2uMSJd+UsrS3OlsCsb9zEWanD7DHw7Qx967x9O0a1UcBAMd4+SrjOQst9p5kZABgR9w1wO7b+BV8NYtcOfhu1PwaCGD6bjF0PIK/VdBecezw4o2aNZPjJVg6scxMzUS38etyVRrHCUo0TDEy8QDtRNYTcqMwWJzBS/+FkHQlEwrKO7hHC6UxsId2DXuzd+AcDXrgwaifdpmesqeOpLE77AqvOdX0JJcKTtFF437FF4cfy+eN0NuD35tS/hXsm74mQkkmiVS/am7ot root@core
EOF

### set permissions
chmod 0600 /home/user/.ssh/authorized_keys
chown -R user. /home/user/.ssh

yum install -y sudo
echo "user        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/user
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
